body{
    margin:0;
    font-family:Helvetica, sans-serif;
    background: #4c65d4;
}

*{box-sizing:border-box;}

body{
    background-image:url(../img/background.jpg);
    background-size: cover;
    margin:0;
}


form #myform{
    max-width:550px;
    width:90%;
    padding: 1em;
    text-align: center;
    background: rgba(0,0,0,0.5);
    background: rgba(127,127,127,0.25);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.18);
    margin:5vh auto 0 auto;
    padding:40px;
    box-sizing:border-box;
   
}



h2{
    margin:0;
    text-align:center;
}

label{
    display:block;
    margin:20px 0;
    color:white;
}

input, textarea{
    font-family: sans-serif;
    width:100%;
    padding: 10px;
    box-sizing:border-box;
    outline:none;
    resize:none;
    border:none;
    background: rgba(0,0,0,0.5);
    background: rgba(127,127,127,0.25);
    border-radius: 10px;
    border:white;
}

input[type="text"]:focus, textarea:focus{
    border: 1px solid rgb(255, 255, 255);
}

textarea::-webkit-scrollbar{
    width:4px;
}

textarea::-webkit-scrollbar-thumb{
    background-color:rgb(79, 0, 225);
}

.center{
  text-align:center;
}

input[type="submit"]{
    margin-top:30px;
    width:90%;
    max-width:200px;
    background: linear-gradient(
        90deg, #b359fd,#1de7ea
    );
    color: #111;
    border:none;
    color:white;
    font-size:17px;
    cursor:pointer;
    border-radius:50px;
}

.error{
    color:#b359fd;
}

.error-border{
    border-bottom: 2px solid #b359fd;
}

#success{
    color:#1de7ea;
}

input{
    background:#1b2039;
    border:none;
    padding:0.7em;
    border-radius:5px;
    color:white;
}

footer{
    background-color: none;
}


